################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Ventrian.FileLinks/v16/Server/sqlite3
